<html>
    <head>
        <title>Day of Week</title>
    </head>
    <body>
        <p>
            <em>Day:</em><%= date %>
        </p>
        <p>
            <em>Day of Week:</em><%= days_of_week %>
        </p>
        
    </body>
</html>